<!DOCTYPE html>
<html><head><title>Bildefortellinger - admin</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="/css/style.css" rel="stylesheet" type="text/css">
	<link rel="icon" type=" image/png" href="/favicon.png" />
<style>
html, body {
	background-color: #ccc;
}
form {
	margin-left: auto;
	margin-right: auto;
	font-size: 1em;
}
form>*, a.button {
	line-height: 2.5em;
}
h2{
	font-size: 1.2em;
	border-top: thin solid #ddd;
}

.admin-images {
	height: initial;
	overflow: auto;
}

.admin-images img, .admin-images form {
	width: 100px;
	height: auto;
	float: left;
	border: 4px double #ddd;
}

.admin-images .highlight-image {
	border-color: #009;
	box-shadow: #006 2px 2px;
}

.admin-images form {
	width: 200px;
	min-height: 100%;
}

.clearfix {
	clear: both;
	display: block;
}

.admin button, .admin input[type=button], .admin .button {
	border-radius: 10px;
	box-shadow: 1px 1px #444;
	padding: 0 10px;
 	transition-duration: 0.4s;
 	display: inline-block;
}
.admin button:hover, .admin input[type=button]:hover, .admin .button:hover {
	box-shadow: 1px 1px #aaa;
	background-color: #eee;
}
a.button {
	background-color: buttonface;
}
button.icon, .button.icon {
	font-size: 1.2em;
}

table {border-collapse: collapse;}
th, td {
	border-left: 1px solid #ddd;
	padding: 5px;
}

.rec-actions form {
	display: inline;
}

input[disabled], textarea[disabled] {
	border: none;
	background: transparent;
}

div.scrollme {
	max-height: 200px;
	overflow: auto;
	width: 100%;
}

.loading {
	display: block;
	width: 50px;
	height: 50px;
}
.loading,
.loading:before,
.loading:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.loading {
  color: #ffffff;
  font-size: 10px;
  margin: 80px auto;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loading:before,
.loading:after {
  content: '';
  position: absolute;
  top: 0;
}
.loading:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loading:after {
  left: 3.5em;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}


</style>
<script src="/js/admin.js"></script>
</head>

<body class="admin">

{{{body}}}

</body></html>
