<!DOCTYPE html>
<html><head><title>Bildefortellinger - admin</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="/css/style.css" rel="stylesheet" type="text/css">
	<link rel="icon" type=" image/png" href="/favicon.png" />
<style>
html, body {
	background-color: #ccc;
}
form {
	margin-left: auto;
	margin-right: auto;
	font-size: 1em;
}
form>* {
	line-height: 2.5em;
}
h2{
	font-size: 1.2em;
	border-top: thin solid #ddd;
}

.admin-images {
	height: initial;
	overflow: auto;
}

.admin-images img, .admin-images form {
	width: 100px;
	height: auto;
	float: left;
	border: 4px double #ddd;
}

.admin-images .highlight-image {
	border-color: #009;
	box-shadow: #006 2px 2px;
}

.admin-images form {
	width: 200px;
	min-height: 100%;
}

.clearfix {
	clear: both;
	display: block;
}

.admin button, .admin input[type=button] {
	border-radius: 10px;
	box-shadow: 1px 1px #444;
	padding: 0 10px;
 	transition-duration: 0.4s;
}
.admin button:hover, .admin input[type=button]:hover {
	box-shadow: 1px 1px #aaa;
	background-color: #eee;
}
button.icon {
	font-size: 1.2em;
}

table {border-collapse: collapse;}
th, td {
	border-left: 1px solid #ddd;
	padding: 5px;
}

</style>
<script src="/js/admin.js"></script>
</head>

<body class="admin">

{{{body}}}

</body></html>
