<!DOCTYPE html>
<html><head><title>Bildefortellinger</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="/css/style.css" rel="stylesheet" type="text/css">
	<link rel="icon" type=" image/png" href="/favicon.png" />
</head>

<body>

{{{body}}}

<script src="/js/help.js"></script>
<script src="/js/siema.min.js"></script>
<script src="/js/slideshow.js"></script>
<script src="/js/web-audio-recorder/lib-minified/WebAudioRecorder.min.js"></script>
<script src="/js/record.js"></script>
</body></html>
